nav{
    position:fixed;
}

section{
	width: 50%;
	text-align: center;
	margin-left:25%;
}

.page{
	padding:90px 0px 30px 0px;
}
.page__section{
	padding:30px;
	max-width:1200px;
	margin: 0px auto;
}
.page__section1{
	background-color: #794f45;
}
.page__section2{
	background-color: #77608d;
}
.page__section3{
	background-color: #7a956b;
}
